body {
	margin: 30px;
}

nav {
    height: 100%;
    width: 100%;
    td {
    	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    	font-size: 20px;
    	padding-right: 10px;
    }
    
}

nav:after
{   
    clear: both;
    display: block;
}

.containerBox {
	border: solid gray 1px;
	border-bottom: none;
	padding: 5px;
	border-collapse: collapse;
}

.containerBox:last-child {
    border-bottom: 1px solid gray;
}

.container {
	float: left;
}

.container:after{
	clear: both;
}